
/* Inicio de los estilos css */

/*tipografias importadas de google font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');



    /* Conf principal en la raiz */
:root{
    /* Colores a usar en nuestra siman landing page */
    --color-primario: #2F4F7F;
    --color-secundario: #082181 ;
    --color-terciario: #F7F7F7;
    --color-primario-oscuro: #1A1D23;
    --color-secundario-oscuro: #2F4F7F;
    --color-primario-claro: #F7F7F7;
    --color-secundario-claro: #F7F7F7;
    --color-primario-oscuro-claro: #F7F7F7;

    /* configuracion personalizada de nuestra hoja de estilos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.wrap{
    width:98dvw;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--color-primario);    
}